* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 15px;
	font-family: 'Fregat-regular', sans-serif;
	background-color: $color-1;
}

h2 {
	font-size: 28px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	font-family: 'Fregat-bold';
}

.content-wrp {
	width: 1140px;
	margin: 0 auto;
	border: 1px solid red;
}

.no-padding {
	padding: 0;
}

.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 10;
	transition: 0.3s;
}

/*----------------------------------------------------------------------------------------
|                              HEADER START                                               |
-----------------------------------------------------------------------------------------*/
header {
	width: 100%;
	height: 80px;

	.toggle-menu {
		position: relative;
		display: block;
		width: 35px;
		height: 35px;
		text-align: center;	
		float: right;
		position: absolute;
		right: 2em;
		top: 0.7em;
		font-size: 2em;
		z-index: 30;
	}

	@include MQ(M) {
		display: block;
	}
}

.logo {
	display: block;	
	color: $color-2;
	font-family: 'Fregat-bold';
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	line-height: 80px;

	&:hover {
		text-decoration: none;
		color: $color-2;
	}

	@include MQ(ML) {
		font-size: 2.3em;
		line-height: 80px;
	}
}

.menu {
	position: relative;
	z-index: 50;

	@include MQ(M) {
		position: fixed;
		top: 0;
		right: 0;
		background-color: $color-3;
		z-index: 30;
		transform: translateX(150%);
		visibility: hidden;
	}
}

.toggle-close {	
	position: absolute;
	right: 2em;
	top: 0.7em;
	font-size: 2em;
	color: $color-1;
}

.menu ul {
	position: relative;
	padding-left: 0;
	padding-top: 0.5em;
	margin-bottom: 0;
	list-style: none;
	vertical-align: middle;
    line-height: 4em;

    @include MQ(M) {
		display: block;
		width: 300px;
		height: 100vh;
		padding-top: 3.5em;
		line-height: 3em;
	}
}

.menu__item {
	display: inline-block;
	position: relative;

	a {
		text-transform: uppercase;
		color: $color-2;
		font-size: 0.855em;		
		padding: 0.4em;

		&:hover {
			color: $color-3;
			text-decoration: none;
		}

		@include MQ(ML) {
			font-size: 0.7em;
			padding: 0.4em;
		}
		@include MQ(M) {
			display: block;
			font-size: 0.7em;
			padding: 0.4em 1.5em;
			color: $color-1;
			letter-spacing: 1px;
		}
	}
	
	&:before {
		content: '';
		font-family: 'Fregat-regular';
		position: absolute;
		top: 45%;
		left: -4px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $color-2;

		@include MQ(M) {
			display: none;			
		}
	}

	&:first-child:before {
		display: none;
		
	}

	@include MQ(SM) {
		display: block;
	}
}





/*----------------------------------------------------------------------------------------
|                              HEADER END                                                 |
-----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
|                              FOOTER START                                               |
-----------------------------------------------------------------------------------------*/
.footer {
	width: 100%;
	height: 55px;
	background-color: #4c4c4c;
	color: $color-1;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	vertical-align: middle;
	line-height: 55px;
}
/*----------------------------------------------------------------------------------------
|                              FOOTER END                                                 |
-----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
|                              INTRO SECTION START                                        |
-----------------------------------------------------------------------------------------*/
.intro-wpr {
	position: relative;
	width: 100%;
	height: 603px;
	background: linear-gradient(to right, rgba(217,239,215,1) 0%, rgba(217,239,215,1) 25%, rgba(215,239,215,0.57) 43%, rgba(246,41,12,0) 100%), url('../img/bg-1.png') no-repeat;
	background-position: right;
	z-index: 0;
	

	@include MQ(ML) {
		background-position-x: (150%);
	}
	@include MQ(M) {
		background-position-x: (220%);
	}
	@include MQ(SM) {
		background-position: right;
	}
	@include MQ(S) {
		padding: 0;
		height: 700px;
		background-size: cover;
		background-position-x: (40%);
	}
}

.intro {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5em 0;

	@include MQ(M) {
		background-color: rgba(255, 255, 255, 0.6);
	}
	@include MQ(SM) {
		padding: 3em 0;
	}
	@include MQ(S) {
		padding: 0;
	}
}

.intro__title {
	margin-bottom: 1.8em;
	color: $color-3;
	font-size: 28px;
	font-weight: 700;
}

.intro__descr {
	margin-bottom: 1.5em;
	color: $color-2;
	font-family: 'PT Sans', sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 26px
}

.btn {
	display: inline-block;
	padding: 1.3em 3.2em;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: transparent;

	@include MQ(S) {
		padding: 1em 1.2em;
	}
}

.btn-main {
	margin-top: 1.8em;
	margin-right: 1.8em;
	border: 2px solid $color-3;
	color: $color-3;
	transotion: 0.5s;

	&:hover {
		color: $color-1;
		background-color: $color-3;
		border-color: $color-3;
		transotion: 0.5s;
	}

	@include MQ(S) {
		margin-top: 1em;
		margin-right: 1em;
	}
}

.green-sec {
	background-color:  $color-3;
	color: $color-1;
}

.about-program {
	display: flex;
	align-items: center;
	padding: 45px 0;
	text-align: left;

	h3 {
		text-transform: uppercase;
	}

	ul {
		list-style: none;

		@include MQ(SM) {
			text-align: left;
		}	
	}

	li {
		position: relative;
		font-size: 16px;
		font-family: 'PT Sans', sans-serif;
		font-weight: 300;
		
		&:before {
			content: $icon-arrow_right;
			font-family: 'myicons';
			position: absolute;
			top: 10%;
			left: -1.5em;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			transition: 0.5s;
		}

		&:hover:before {
			left: -2em;
			transition: 0.5s;
		}
	}

	@include MQ(SM) {
		display: block;
		padding: 2em 0;
		text-align:  center;
	}
}
/*----------------------------------------------------------------------------------------
|                              INTRO SECTION END                                          |
-----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
|                              TOP SLIDER SECTION START                                   |
-----------------------------------------------------------------------------------------*/
.slider-sec,
.method,
.recommend {
	padding: 70px 0;
	text-align: center;

	@include MQ(SM) {
		padding: 30px 0;
	}
}

.block-title {
	font-size: 2em;
	font-weight: 700;
	color: $color-3;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.block-descr {
	color: #313131;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 28px;
}

.block-descr-thin {
	font-size: 15px;
}


.slider-cont {
	margin: 34px 0;
}

.slider-main {
	width: 100%;
	height: 42em;
	padding-left: 0;
	list-style: none;

	.slick-dots {
	    bottom: 46px;

	    @include MQ(M) {
			bottom: 0;
		}
	}

	.slick-dots li button:before {
		content: '';
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid $color-1;
		opacity: 1;

		@include MQ(M) {
			border: 1px solid $color-3;
		}
	}

	.slick-dots li.slick-active button:before {
		background-color: $color-1;

		@include MQ(M) {
			background-color: $color-3;
		}
	}

	.slick-prev, .slick-next {
	    position: absolute;
	    top: 45%;
	    display: block;
	    width: 66px;
	    height: 66px;
	    color: $color-3;
	    border: 1px solid $color-3;
	    border-radius: 50%;
	    background: transparent;
	    transition: 0.3s;

	    &:hover {
	    	background: $color-3;
	    	transition: 0.3s;

	    	&:before {
	    		color: $color-1;
	    	}

	    	@include MQ(M) {
				background: transparent;

				&:before {
		    		color: $color-3;
		    	}
			}
	    }

	    @include MQ(ML) {
			top: 99%;
		}
		@include MQ(M) {
			width: 30px;
			height: 30px;
			border-color: transparent;
			top: 98%;
		}
	}

	.slick-prev {
		top: 50%;
	    left: -100px;
	
		@include MQ(M) {
			left: 34%;
			top: 98%;
		}
		@include MQ(SM) {
			left: 28%;
		}
		@include MQ(S) {
			left: 25%;
			top: 97%;
		}
	}

	.slick-next {
	    right: -100px;
	    transform: rotateY(180deg);

	    @include MQ(ML) {
	     	top: 44%;
		}
		@include MQ(M) {
	     	top: 95%;
			left: 62%;
		}
		@include MQ(SM) {
			left: 66%;
			top: 95%;
		}
		@include MQ(S) {
			top: 93%;
		}
	}

	.slick-prev:before,
	.slick-next:before {		
	    content: $icon-arrow_left;
	    font-family: 'myicons';
	    position: absolute;
	    left: -5px;
	    top: 21%;
	    font-size: 71px;
	    color: $color-3;
	    opacity: 1;
	    overflow: hidden;

	    @include MQ(M) {
			left: -10px;
		    top: 7%;
		    font-size: 49px;
		}
	}

	@include MQ(ML) {
		height: 35em;
	}
	@media only screen and (max-width: 610px) {
		height: 30em;
	}
	@include MQ(SM) {
		height: 35em;
	}
	@include MQ(S) {
		height: 25em;
	}
}

.slider-main__item {
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		width: 100%;
	}

	@include MQ(M) {
		height: 32em;
	}
	@include MQ(S) {
		height: 22em;
	}
}

.program {
	width: 100%;
	border-color: 1px solid red;

	ul {
		width: 100%;
		padding-left: 0;
		height: auto;
		column-count: 2;
		list-style: none;		
		text-align:  left;

		@include MQ(SM) {
			padding-left: 1em;
			column-count: 1;
		}
	}

	li {
		position: relative;
		margin-bottom: 1em;
		padding-left: 3.2em;
		color: $color-2;
		font-family: 'PT Sans', sans-serif;
		font-size: 15px;
		line-height: 23px;

		&:before {
			content: $icon-check;
			font-family: 'myicons';
			position: absolute;
			top: 0.2em;
			left: 0;
			font-size: 4em;
			color: $color-3;
		}
	}
}

.program-text {
	margin-top: 50px;
	text-align: center;
	color: $color-5;
	font-family: 'PT Sans', sans-serif;
	p {
		
		margin-bottom: 0;
		font-size: 15px;
		line-height: 23px;
	}
}
/*----------------------------------------------------------------------------------------
|                              TOP SLIDER SECTION END                                     |
-----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
|                         	STATISTICS SECTION START                                      |
-----------------------------------------------------------------------------------------*/
.statistics-sec {
	position: relative;
	width: 100%;
	height: 976px;
	background: url('../img/bg-2.png');
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 135%;
	background-attachment: fixed;

	@include MQ(SM) {
		height: 92em;
		background-size: cover;
		background-position: 50% 70%;
		background-attachment: local;
	}
}

.statistics-sec-overlay {
	position: absolute;
	padding: 80px 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;

	.block-descr,
	.block-descr-thin {
		color: $color-1;
	}

	@include MQ(M) {
		padding: 30px 0;
	}
}

.statistics-list {
	display: flex;
	justify-content: space-between;
	margin: 95px 0 75px;
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	font-weight: bold;
	list-style: none;
	padding-left: 0;
	width: 100%;
	height: auto;

	@include MQ(M) {
		margin: 1.5em 0 1em;
	}
	@include MQ(SM) {
		display: block;
	}
}

.statistics-list__item {
	display: inline-block;
	width: 18%;
	color: $color-3;

	@include MQ(SM) {
		width: 48%;
	}
	@include MQ(S) {
		width: 100%;
		margin-bottom: 2em;
	}
}

.statistics-counter {
	width: 6em;
	height: 9em;
	padding-top: 2.2em;

	@include MQ(SM) {
		margin: 0 auto;
	}
}

.statistics-list__item-work {
	background: url('../img/icon-work.png');
	background-position: center;
	background-size: 99%;
	background-repeat: no-repeat;
}

.statistics-list__item-tv {
	background: url('../img/icon-tv.png');
	background-position: center;
	background-size: 99%;
	background-repeat: no-repeat;
}

.statistics-list__item-comp {
	background: url('../img/icon-comp.png');
	background-position: center;
	background-size: 99%;
	background-repeat: no-repeat;
}

.statistics-list__item-food {
	background: url('../img/icon-food.png');
	background-position: center;
	background-size: 99%;
	background-repeat: no-repeat;
}

.statistics-list__item-car {
	background: url('../img/icon-car.png');
	background-position: center;
	background-size: 99%;
	background-repeat: no-repeat;
}

.time-count {
	font-family: 'PT Sans', sans-serif;
	font-size: 2.25em;
	font-weight: 700;
	margin: 0 auto;
}

.statistics-result {
	margin-bottom: 2.7em;
	color: $color-3;
	font-weight: 700;
	font-size: 1.7em;

	span {
		font-size: 1.9em;
	}

	@include MQ(M) {
		font-size: 1.3em;
	}
}

/*----------------------------------------------------------------------------------------
|                           STATISTICS SECTION END                                        |
-----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
|                              RECOMEND SECTION START                                     |
-----------------------------------------------------------------------------------------*/
.recommend {
	padding-bottom: 0;

}

.recommend-block {
	margin-bottom: 3em;

	@include MQ(M) {
		position: relative;
	}
}

.recommend__text {
	position: relative;
	padding: 6em 5em 1em;
	text-align: left;
	color: $color-5;

	@include MQ(ML) {
		padding: 3em 2em 1em;
	}
}

.recommend__number {
	position: absolute;
	top: -0.33em;
	left: 0.35em;
	color: #bff6a3;
	font-size: 200px;
	font-size: 14em;
	font-weight: 700;
	z-index: -1;

	@include MQ(ML) {
		left: 0.1em;
	}
	@include MQ(SM) {
		font-size: 8em;
		left: 0.35em;
	}
}

.recommend__text-title {
	font-size: 1.8em;
	margin-bottom: 1em;
}

.recommend__text-announce {
	font-size: 15px;
}

.recommend__link {
	display: block;
	position: relative;
	margin-top: 0.5em;
	font-size: 0.9em;
	font-weight: 900;
	color: $color-5;

	&:before {
		content: $icon-arrow_right;
		font-family: 'myicons';
		position: absolute;
		top: 4px;
		left: 5em;
		font-size: 1em;
		transition: 0.5s;
	}

	&:hover {
		text-decoration: none;
		color: $color-5;

		&:before {
			left: 5.5em;
			transition: 0.5s;
		}
	}
}

.recommend__img {
	width: 30em;
	height: 30em;
	overflow: hidden;

	@include MQ(ML) {
		width: 24em;
		height: 24em;
	}
	@include MQ(M) {
		position: absolute;
		top: 0;
		right: 2em;
		width: 10em;
		height: 7em;
	}
	@include MQ(S) {
		position: absolute;
		top: 0;
		right: 2em;
		width: 6em;
		height: 6em;
	}
}
/*----------------------------------------------------------------------------------------
|                              RECOMEND SECTION END                                       |
-----------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------
|                                METHOD SECTION START                                     |
-----------------------------------------------------------------------------------------*/
.method {

}

.method-cont {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 0 auto 2em;

	@include MQ(SM) {
		width: 90%;
	}
}

.method-cont__img {
	display: inline-block;
	margin-right: 2.5em;
	width: 120px;
	height: 120px;

	img {
		width: 100%;
	}

	@include MQ(SM) {
		width: 80px;
		height: 80px;
	}
}

.method-cont__text {
	display: inline-block;
	width: 80%;
	text-align: left;
	div {
		margin-bottom: 1em;
		font-family: 'PT Sans', sans-serif;
		font-size: 1.3em;
		font-weight: 700;
	}

	p {
		font-size: 1em;
	}

	@include MQ(SM) {
		width: 100%;
	}
}
/*----------------------------------------------------------------------------------------
|                                METHOD SECTION END                                       |
-----------------------------------------------------------------------------------------*/